@model WebApplicationTask1.Models.Articles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.featured_img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.featured_img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.excerpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.excerpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publish_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publish_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeread)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeread)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
